{% extends 'base.html' %}
{% load static %}
{% block custom_css %}
<link rel="stylesheet" href="/static/css/privacy_policy.css">
{% endblock custom_css %}

{% block content %}
<div class="privacy-container">

    <!-- Header -->
    <h1>Privacy & Policy</h1>

    <!-- Introduction -->
    <section>
        <h2>Introduction</h2>
        <p>We at PollMe value the trust you place in us and prioritize the protection of your personal information. This Privacy & Policy outlines our practices concerning the collection, use, and sharing of your personal information. By using our platform, you consent to the data practices described in this policy.</p>
    </section>

    <!-- Data Collection -->
    <section>
        <h2>Data Collection</h2>
        <p>We collect information you provide directly to us when you create an account, participate in any polls or surveys, communicate with us, and more. This information may include your name, email address, and other relevant data.</p>
    </section>

    <!-- Data Usage -->
    <section>
        <h2>Data Usage</h2>
        <p>We use the information we collect for various purposes, including to provide and improve our services, communicate with users, respond to requests, and for other purposes with your consent.</p>
    </section>

    <!-- Data Sharing -->
    <section>
        <h2>Data Sharing</h2>
        <p>We do not share or sell your personal data to third parties for marketing purposes. We may, however, share information with third parties for other purposes, including data analysis and platform enhancement, with providers who assist us in our business operations, and in other cases with your consent.</p>
    </section>

    <!-- Security -->
    <section>
        <h2>Security</h2>
        <p>We take reasonable measures to help protect your personal data from unauthorized access, theft, and other risks. We implement various security measures, including encryption and authentication tools, to ensure the security of your personal data.</p>
    </section>

    <!-- Updates & Changes -->
    <section>
        <h2>Updates & Changes</h2>
        <p>We may update this Privacy & Policy from time to time. We will notify you of any changes by posting the new Privacy & Policy on this page and updating the "last updated" date at the bottom of this policy.</p>
    </section>

    <!-- Contact Information -->
    <section>
        <h2>Contact Us</h2>
        <p>If you have any questions or concerns regarding our Privacy & Policy, please contact us at: [Your Contact Information Here].</p>
    </section>

    <footer>
        <p>Last updated: 10th OCTOBER 2023 15:00 IST</p>
    </footer>
</div>
{% endblock content %}
